@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

::root {
  --Brand-color: #035CA5;
  --Brand-color-light: #008CFF;
  --Brand-gray: #689DC9;
  --seconde-color: #CAC4D0;
  --font-main: "Montserrat", sans-serif;
  --h1: 800 24px/135% var(--font-main);
  --h2: 800 16px/140% var(--font-main);
  --h3: 800 14px/140% var(--font-main);
  --text-span: 600 14px/145% var(--font-main);
  --text: 400 14px/140% var(--font-main);

}

body {
  font-family: var(--font-main);

}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.section_Main {
  height: 100vh;
  background: #dfdfdf;
}

.section_content {
  padding: 15px;
  margin: 50px;
  border-radius: 17px;
  background: #e0e0e0;
  box-shadow: 8px 7px 7px 3px #a6a6a64a, -15px -15px 20px #cdcdcdba;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}