@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('index.css');

:root {
  --Brand-color: #035CA5;
  --Brand-color-light: #008CFF;
  --Brand-gray: #689DC9;
  --seconde-color: #CAC4D0;
  --text-color: #444444;
  --send: #6f82d6;
  --send-hover: #6070b4;
  --send-click: #414d85;
  --font-main: "Montserrat", sans-serif;
  --h1: 500 48px/135% var(--font-main);
  --h2: 600 20px/140% var(--font-main);
  --h3: 600 16px/140% var(--font-main);
  --label: 400 12px/140% var(--font-main);
  --text-span: 600 14px/145% var(--font-main);
  --text: 400 14px/140% var(--font-main);

}

body {
  font-family: var(--font-main);
  margin: 0px;
  box-sizing: border-box;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.section_Main {
  height: 100vh;
  background: #dfdfdf;
}

.section_content {
  padding: 15px;
  margin: 50px;
  border-radius: 17px;
  background: #e0e0e0;
  box-shadow: 8px 7px 7px 3px #a6a6a64a, -15px -15px 20px #cdcdcdba;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main {
  font-family: "Montserrat";
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: 18% 82%;
}

.noLink {
  text-decoration: none;

}

#Main-Container {
  display: grid;
  grid-template-rows: 3fr 7fr;
  height: 100vh;


  header {
    margin-inline: 50px;
    width: 100%;

  }

  .h1 {
    font: var(--h1);
    color: var(--Brand-color);
    margin-block: 0;
  }

  .category {
    font: var(--h2);
    margin-top: 40px;
    margin-bottom: 0;
  }

  .date {
    font: var(--text);
    margin-top: 0px;
    color: hsl(0, 0%, 40%);
  }
}

#table {
  margin-inline: 50px;
  padding: 25px;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: #FFFF;

  table {
    width: 100%;
    /* border: solid 1px #282c34; */
    border-spacing: 0;
    text-align: left;
  }

  th,
  td {
    padding: 5px;
    border-inline: solid 1px #d1d1d1;
    font: var(--text);
  }

  th {
    font: var(--h3);
    border-bottom: solid 1px #d1d1d1;
    ;
  }

  input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #cccccc;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  input[type="checkbox"]:checked::before {
    content: '✔';
    width: 100%;
    height: 100%;
    padding-inline: 5px;
    padding-top: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: var(--Brand-color-light);
    color: #ffffff;
    font-size: 14px;
  }

  .materias {
    width: 30%;
  }

  .checks {
    width: 70%;
  }
}

#ModalNewCicle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsla(0, 0%, 0%, 0.7);
  backdrop-filter: blur(2px);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 20px;
  }

  header>button {
    width: 30px;
  }

  form {
    background-color: #fff;
    margin-block: 40px;
    padding: 20px;
    border-radius: 2rem;
    color: var(--Brand-color);
    max-width: 700px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .title {
    font: var(--h2);
    color: var(--text-color);
    margin-block: 0;
  }

  fieldset {
    border: none;
    margin-block: 10px;
    padding: 0;
  }

  fieldset.header {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 20px;
  }

  .mattes {
    border-top: solid 1px var(--seconde-color);
  }

  label {
    font: var(--label);
    color: var(--text-color);
    margin-bottom: 5px;
  }

  .inputBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
  }

  .numbersInput {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px
  }

  input {
    height: 20px;
    padding: 4px;
    border-radius: 5px;
    border: none;
    background-color: hsla(0, 0%, 0%, 0.1);
  }

  input[type="number"] {
    text-align: center;
    width: 100%;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
    height: 30px;
    padding: 3px;
    border: none;
    color: #ffff;
    border-radius: 4px;
    background-color: var(--send);
  }

  button:hover {
    background-color: var(--send-hover);
  }

  button:active {
    background-color: var(--send-click);
    transform: scale(1.1);
  }

  .addMatter {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
  }

  .addMatter>label {
    display: none;
  }

  .matterList {
    font: var(--text);
    box-sizing: border-box;
    background-color: hsla(0, 0%, 0%, 0.04);
    border-radius: 5px;
    width: 100%;
    height: 200px;
    overflow: auto;
    position: relative;


    li {
      display: grid;
      grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
      gap: 10px;
      justify-items: center;
      color: var(--text-color);
      padding-inline: 15px;
      padding-block: 5px;
    }

    li:not(:first-child):hover {
      overflow-y: hidden;
      overflow-x: auto;
      background-color: hsla(229, 36%, 54%, 0.2);
    }

    li>:first-child {
      justify-self: start;
    }

    li>p {
      margin: 0;
    }

    .header-list {
      position: sticky;
      top: 0;
      left: 0;
      margin: 0;
      padding: 10px;
      background-color: #444444;
      color: #ffff;
    }
  }

}